root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{cs,csx}]
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:warning
csharp_prefer_braces = true:warning
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_style_readonly_field = true:warning

[*.{csproj,props,targets}]
indent_size = 2

[*.sql]
indent_size = 4

[*.ps1]
# Windows PowerShell 5.1 lee como ANSI los scripts sin BOM y rompe los acentos.
charset = utf-8-bom
end_of_line = crlf
indent_size = 4

[*.md]
trim_trailing_whitespace = false
